# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Логи
*.log

# Переменные окружения
.env
.env.local

# Файлы ОС
Thumbs.db
.DS_Store

# Временные файлы
.cache/
*.tmp

# Зависимости
node_modules/
package-lock.json

